# swagger.yml - Primary swagger YAML file for HelionCE REST API


swagger: '2.0'

# Document metadata
info:
  version: '2.0'
  title: Helion Code Engine REST API
  description: REST API for the Helion Code Engine (HelionCE) Continuous Integration & Deployment platform.


schemes:
  - http
host: crest.proxy:4001
basePath: /v2


##########################################################################
#                                                                        #
#                               PATHS                                    #
#                                                                        #
##########################################################################
paths:



  ######################### /auth/credentials #########################
  '/auth/credentials':

    post:
      tags:
        - Security
      summary: Store auth Credential.
      description: |
        Add security credential to the authstore. After this operation, the Credential is still
        unlinked to any entity.
      operationId: storeCredential
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: credential
          in: body
          description: The Credential to store.
          schema:
            $ref: '#/definitions/Credential'
          required: true
      responses:
        201:
          description: Credential added.
          schema:
            $ref: '#/definitions/Credential'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'



  ######################### /auth/credentials/{credentialId} #########################
  '/auth/credentials/{credentialId}':
    delete:
      tags:
        - Security
      summary: Remove the specified credential from the authstore.
      operationId: forgetCredential
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: credentialId
          in: path
          description: The (internal) Credential id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: Credential successfully forgotten.
          404:
            description: Item with specified id not found.


  ######################### /vcs #########################
  '/vcs':

    post:
      tags:
        - Vcs
      summary: Add a VCS instance.
      description: |
        Add (register) a Version Control System instance, such as GitHub, a GitHub Enterprise instance, a SVN instance, etc..
      operationId: addVcs
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs
          in: body
          description: VCS to add.
          schema:
            $ref: '#/definitions/Vcs'
          required: true
      responses:
        201:
          description: Added VCS.
          schema:
            $ref: '#/definitions/Vcs'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Vcs
      summary: List VCS instances.
      description: |
        List the registered VCS instances.
      operationId: getVcses # ugly!
      produces:
        - application/json
      responses:
        200:
          description: Array of registered VCS instances.
          schema:
            type: array
            items:
              $ref: '#/definitions/Vcs'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'



  ######################### /vcs/{vcsId} #########################
  '/vcs/{vcsId}':
    delete:
      tags:
        - Vcs
      summary: Remove (unregister) the specified VCS.
      operationId: remove_vcs
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcsId
          in: path
          description: The (HCE) VCS id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: Removed VCS.
          404:
            description: Item with specified id not found.

    get:
      tags:
        - Vcs
      summary: Get the specified VCS.
      operationId: get_vcs
      produces:
        - application/json
      parameters:
        - name: vcsId
          in: path
          description: The (internal) item id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The VCS instance.
          schema:
            $ref: '#/definitions/Vcs'
        404:
          description: Item with specified id not found.

    # FIXME: need to add PUT/PATCH


  ######################### /vcs/account #########################
  '/vcs/account':

    post:
      tags:
        - Vcs
      summary: Add a user VCS account.
      description: |
        Add (register) a user's account for a particular VCS instance.
      operationId: add_vcs_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs_account
          in: body
          description: The VCS account.
          schema:
            $ref: '#/definitions/VcsAccount'
          required: true
      responses:
        201:
          description: Added VCS account.
          schema:
            $ref: '#/definitions/VcsAccount'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Vcs
      summary: Find user VCS account(s)
      description: Search for user VCS account(s) based on a combination of VCS id, HCE user id, and/or VCS user id (e.g. GitHub user id).
      operationId: find_vcs_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs_id
          in: query
          description: VCS id.
          type: integer
          format: int32
          required: false
        - name: user_id
          in: query
          description: HCE user id.
          type: integer
          format: int32
          required: false
        - name: vcs_user_id
          in: query
          description: VCS user id (e.g. GitHub user id).
          type: string
          required: false
      responses:
        200:
          description: Array of VCS accounts. May contain zero, one, or many VCS accounts.
          schema:
            type: array
            items:
              $ref: '#/definitions/VcsAccount'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  ######################### /vcs/account/{vcs_account_id} #########################
  '/vcs/account/{vcs_account_id}':


    get:
      tags:
        - Vcs
      summary: Get a user VCS account.
      operationId: get_vcs_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs_account_id
          in: path
          description: VCS account id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: VCS account.
          schema:
            $ref: '#/definitions/VcsAccount'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


    put:
      tags:
        - Vcs
      summary: Update a user VCS account.
      operationId: update_vcs_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs_account_id
          in: path
          description: VCS account id.
          required: true
          type: integer
          format: int32
        - name: vcs_account
          in: body
          description: VCS account.
          schema:
            $ref: '#/definitions/VcsAccount'
          required: true
      responses:
        201:
          description: Updated VCS account.
          schema:
            $ref: '#/definitions/VcsAccount'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


    delete:
      tags:
        - Vcs
      summary: Remove a user VCS account.
      description: |
        Remove (unregister) a user account for a particular VCS instance.
      operationId: remove_vcs_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vcs_account_id
          in: path
          description: VCS account id.
          type: integer
          format: int32
          required: true
      responses:
        204:
          description: Removed VCS account.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  ######################### /containers/types #########################
  '/containers/types':

    get:
      tags:
        - Container
      summary: |
        Enumeration of Container types, e.g. `DOCKER`, `ROCKET`, etc.
      operationId: getContainerTypes
      produces:
        - application/json
      responses:
        200:
          description: Array of Container types.
          schema:
            type: array
            items:
              type: string


  ######################### /container/registries #########################
  '/containers/registries':

    post:
      tags:
        - Container
      summary: Add a ContainerRegistry instance.
      description: |
        Add (register) a ContainerRegistry instance, such as DockerHub, or a local registry.
      operationId: addContainerRegistry
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: registry
          in: body
          description: The ContainerRegistry to add.
          schema:
            $ref: '#/definitions/ContainerRegistry'
          required: true
      responses:
        201:
          description: Added ContainerRegistry.
          schema:
            $ref: '#/definitions/ContainerRegistry'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Container
      summary: List ContainerRegistry instances.
      description: |
        List the registered ContainerRegistry instances.
      operationId: getContainerRegistries
      produces:
        - application/json
      responses:
        200:
          description: Array of registered ContainerRegistry instances.
          schema:
            type: array
            items:
              $ref: '#/definitions/ContainerRegistry'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'







  ######################### /container/registry/{registryId} #########################
  '/containers/registries/{registryId}':
    delete:
      tags:
        - Container
      summary: Remove (unregister) the specified ContainerRegistry.
      operationId: removeContainerRegistry
      produces:
        - application/json
      parameters:
        - name: registryId
          in: path
          description: The (internal) ContainerRegistry id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: ContainerRegistry removed.
          404:
            description: Item with specified id not found.

    get:
      tags:
        - Container
      summary: Get the ContainerRegistry specified in the request.
      operationId: getContainerRegistry
      produces:
        - application/json
      parameters:
        - name: registryId
          in: path
          description: The (internal) item id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The ContainerRegistry instance.
          schema:
            $ref: '#/definitions/ContainerRegistry'
        404:
          description: Item with specified id not found.

    # FIXME: need to add PUT/PATCH


  ######################### /containers/images #########################
  '/containers/images':

    post:
      tags:
        - Container
      summary: Add a ContainerImage instance.
      description: |
        Add (register) a ContainerImage instance, such as a Docker image.
      operationId: addContainerImage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: image
          in: body
          description: The ContainerImage to add.
          schema:
            $ref: '#/definitions/ContainerImage'
          required: true
      responses:
        201:
          description: Added container image.
          schema:
            $ref: '#/definitions/ContainerImage'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Container
      summary: List ContainerImage instances.
      description: |
        List the registered ContainerImage instances.
      operationId: getContainerImages
      produces:
        - application/json
      responses:
        200:
          description: Array of registered ContainerImage instances.
          schema:
            type: array
            items:
              $ref: '#/definitions/ContainerImage'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  ######################### /containers/images/{imageId} #########################
  '/containers/images/{imageId}':
    delete:
      tags:
        - Container
      summary: Remove (unregister) the specified ContainerImage.
      operationId: removeContainerImage
      produces:
        - application/json
      parameters:
        - name: imageId
          in: path
          description: The (HCE) ContainerImage id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: Image unregistered.
          404:
            description: Image with specified id not found.

    get:
      tags:
        - Container
      summary: Get the ContainerImage specified in the request.
      operationId: getContainerImage
      produces:
        - application/json
      parameters:
        - name: imageId
          in: path
          description: The (internal) item id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The ContainerImage instance.
          schema:
            $ref: '#/definitions/ContainerImage'
        404:
          description: Item with specified id not found.

    # FIXME: need to add PUT/PATCH


######################### /containers/build_containers #########################
  '/containers/build_containers':

    post:
      tags:
        - Container
      summary: Add a BuildContainer instance.
      description: |
        Add (register) a BuildContainer instance, such as a BuildContainer for Java, or nodejs, or PHP, etc.
      operationId: addBuildContainer
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: build_container
          in: body
          description: The BuildContainer to add.
          schema:
            $ref: '#/definitions/BuildContainer'
          required: true
      responses:
        201:
          description: Added BuildContainer.
          schema:
            $ref: '#/definitions/BuildContainer'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Container
      summary: List BuildContainer instances.
      description: |
        List the registered BuildContainer instances.
      operationId: getBuildContainers
      produces:
        - application/json
      responses:
        200:
          description: Array of registered BuildContainer instances.
          schema:
            type: array
            items:
              $ref: '#/definitions/BuildContainer'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  ######################### /containers/build_containers/{containerId} #########################
  '/containers/build_containers/{container_id}':
    delete:
      tags:
        - Container
      summary: Remove (unregister) the specified BuildContainer.
      operationId: remove_build_container
      produces:
        - application/json
      parameters:
        - name: container_id
          in: path
          description: The (HCE) BuildContainer id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: Item removed.
          404:
            description: Item with specified id not found.

    get:
      tags:
        - Container
      summary: Get the BuildContainer specified in the request.
      operationId: get_build_container
      produces:
        - application/json
      parameters:
        - name: container_id
          in: path
          description: The (internal) item id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The BuildContainer instance.
          schema:
            $ref: '#/definitions/BuildContainer'
        404:
          description: Item with specified id not found.

    # FIXME: need to add PUT/PATCH



  ######################### /repos #########################
  '/repos':

    post:
      tags:
        - Repo
      summary: Add a `Repo` instance.
      description: |
        Add a Repo instance, such as `hpcloud/hce-cli`
      operationId: add_repo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: repo
          in: body
          description: The `Repo` to add.
          schema:
            $ref: '#/definitions/Repo'
          required: true
      responses:
        201:
          description: Item added.
          schema:
            $ref: '#/definitions/Repo'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Repo
      summary: List `Repo` instances.
      description: |
        List the `Repo` instances.
      operationId: get_repos
      produces:
        - application/json
      responses:
        200:
          description: Array of Repo instances.
          schema:
            type: array
            items:
              $ref: '#/definitions/Repo'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  ######################### /repos/{repo_id} #########################
  '/repos/{repo_id}':
    delete:
      tags:
        - Repo
      summary: Remove the specified Repo.
      operationId: remove_repo
      produces:
        - application/json
      parameters:
        - name: repo_id
          in: path
          description: The (internal) `Repo` id.
          required: true
          type: integer
          format: int32
      responses:
          204:
            description: Item removed.
          404:
            description: Item with specified id not found.

    get:
      tags:
        - Repo
      summary: Get the `Repo` specified in the request.
      operationId: get_repo
      produces:
        - application/json
      parameters:
        - name: repo_id
          in: path
          description: The (internal) item id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The `Repo` instance.
          schema:
            $ref: '#/definitions/Repo'
        404:
          description: Item with specified id not found.

    # FIXME: need to add PUT/PATCH



  ######################### /projects #########################
  '/projects':
    post:
      tags:
        - Project
      summary: Create a new project.
      description: |
        Create a new `Project`. The newly created `Project` will initially not have any
        members or owners.
      operationId: create_project
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project
          in: body
          description: The project to create.
          schema:
            $ref: '#/definitions/Project'
          required: true

      responses:
        201:
          description: Newly created project.
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    get:
      tags:
        - Project
      summary: List projects, optionally filtering.
      description: Get the list of projects, optionally filtering by user membership, and/or environments that the project is associated with.
      operationId: get_projects
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_id
          in: query
          description: Filter the list of projects by whether this user is a member of that project.
          required: false
          type: integer
          format: int32
        - name: environment_id
          in: query
          description: Filter the list of projects by whether the project has this environment as a target.
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: Array of `Project` objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'

  ######################### /projects/{project_id} #########################
  '/projects/{project_id}':

    get:
      tags:
        - Project
      summary: |
        Get the specified instance.
      operationId: get_project
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The id of the `Project` to get.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: The `Project` instance.
          schema:
            $ref: '#/definitions/Project'
        404:
          description: The specified instance is not found.

    put:
      tags:
        - Project
      summary: Update the specified `Project`.
      description: |
        Update the specified `Project` and return the updated `Project` instance.
      operationId: update_project
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: |
            The id of the `Project` instance.
          required: true
          type: integer
          format: int32
        - name: project
          required: true
          in: body
          description: |
            The `Project` instance (with updated values).
          schema:
            $ref: '#/definitions/Project'
      responses:
        200:
          description: |
            The updated `Project` instance.
          schema:
            $ref: '#/definitions/Project'
        default:
          description: |
            Failed to update the `Project` instance.
          schema:
            $ref: '#/definitions/ErrorResponse'

    delete:
      tags:
        - Project
      summary: |
        Delete the specified `Project` instance.
      operationId: delete_project
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: |
            The id of the `Project` instance to delete.
          required: true
          type: integer
          format: int32
      responses:
        204:
          description: |
            `Project` instance deleted.
        default:
          description: |
            Failed to delete the `Project` instance.
          schema:
            $ref: '#/definitions/ErrorResponse'



  ######################### /projects/{project_id}/members #########################
  '/projects/{project_id}/members':

    get:
      tags:
        - Project
      summary: Get the project members.
      description: Get all project members (including project owners).
      operationId: get_project_members
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The instance id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: |
            An array of `User` objects, which may be empty.
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        404:
          description: The specified instance is not found.

    post:
      tags:
        - Project
      summary: Add a member (user) to a project.
      operationId: add_member
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32
        - name: user_id
          in: body
          description: The user id.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        201:
          description: Member added.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    delete:
      tags:
        - Project
      summary: Remove a member (user) from a project.
      operationId: remove_member
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32
        - name: user_id
          in: body
          description: The user id.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        201:
          description: Member removed.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

  ######################### /projects/{project_id}/owners #########################
  '/projects/{project_id}/owners':

    get:
      tags:
        - Project
      summary: Get project owners.
      description: Get the project owners (excluding non-owner members).
      operationId: get_project_owners
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: |
            An array of `User` objects, which may be empty.
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        404:
          description: The specified instance is not found.

    post:
      tags:
        - Project
      summary: Add an owner (user) for a project.
      operationId: add_owner
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32
        - name: user_id
          in: body
          description: The user id.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        201:
          description: Owner added.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    delete:
      tags:
        - Project
      summary: Remove an owner (user) from a project.
      operationId: remove_owner
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project_id
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32
        - name: user_id
          in: body
          description: The user id.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        201:
          description: Owner removed.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

  ######################### /artifacts/{artifactId} #########################
  '/artifacts/{artifactId}':

    delete:
      tags:
        - Artifact
      summary: Deletes the artifact specified in the request params.
      description: |
        Deletes the artifact specified in the request params.
        If artifact with specified id not found, returns 404.
      operationId: deleteArtifact
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: artifactId
          in: path
          description: The artifact id we want to delete.
          required: true
          type: integer
          format: int32
      
      responses:
          
          404:
            description: Artifact with specified id is not found.
          
          204:
            description: Artifact succefully deleted.

    get:
      tags:
        - Artifact
      summary: Gets an artifact with id specified in the request.
      description: |
        Gets an artifact with id specified in the request.
        If there is no artifact with given id, returns 404.
      operationId: getArtifact
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: artifactId
          in: path
          description: The artifact id we want to return.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response an artifact.
          
          schema:
            $ref: '#/definitions/Artifact'
        404:
          description: Artifact with given id not found.


  '/artifacts/{artifactId}/download':
     get:
        summary: Download the artifact specified in the request params.
        description: |
          Download the artifact specified in the request params with the artifact streamed in the response. On error returns 500.
        operationId: downloadArtifact
        consumes:
          - application/json
        produces:
          - application/json
        
        parameters:
          - name: artifactId
            in: path
            description: The artifact id to download.
            required: true
            type: integer
            format: int32
        
        responses:
          
          200:
            description: Successful response with a stream of artifacts.



  ######################### /builds/{buildId} #########################
  '/builds/{buildId}':

    get:
      summary: Gets the build specified by `buildId`
      description: |
        Get the build specified in the request params.
        If build with specified id not found, returns 404.
      operationId: getBuild
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id for the build we want to get.
          required: true
          type: integer
          format: int32put

      
      responses:
        
        200:
          description: Build found.
          
          schema:
            $ref: '#/definitions/Build'
        404:
          description: Build not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'

    put:
      summary: Update the status and/or details of the specified build.
      description: |
        Update a new build per the request params and return 200.
        If failed to update return 500.
      operationId: updateBuild
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to update.
          required: true
          type: integer
          format: int32

        - name: build
          in: body
          description: The build JSON to post.
          schema:
            $ref: '#/definitions/Build'
          required: true

      
      responses:
        
        200:
          description: Updates a build.


  '/builds/{buildId}/artifacts':
    get:
      summary: Get the set of artifacts associated with the build specified in the request.
      description: |
        Get the set of artifacts associated with the build specified in the request.
        If there are no artifacts, returns an empty list.
      operationId: getArtifactsForBuild
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to list artifacts for.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a listing of artifacts can be empty.
          
          schema:
            type: array
            items:
              $ref: '#/definitions/Artifact'

    post:
      summary: Create a new artifact per the request params.
      description: |
        Create a new artifact per the request params. and return 201.
        If failed to create returns 500.
      operationId: createArtifact
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to create artifact for.
          required: true
          type: integer
          format: int32

        - name: artifact
          in: body
          description: The artifact JSON to post.
          schema:
            $ref: '#/definitions/Artifact'
          required: true

      
      responses:
        
        201:
          description: Successful response with details of the newly created post deployment.
          
          schema:
            $ref: '#/definitions/Artifact'


  '/builds/{buildId}/workspace':
    get:
      summary: Download the workspace specified in the request params.
      description: |
        Download the workspace specified in the request params with the workspace streamed in the response.
        On error returns 500.
      operationId: downloadWorkspace
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to download workspace for.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a stream of of workspace.


  '/builds/{buildId}/logs/{type}/upload':
    post:
      summary: Uploads a log.
      description: |
        Uploads a log per the request params. and return 200.
        If failed to upload log returns 500.
      operationId: uploadLog
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to upload log for.
          required: true
          type: integer
          format: int32

        - name: type
          in: path
          description: The type of the log. # what is the schema for this?
          required: true
          type: string
      # - name: log
      #   in: body
      #   description: The log. # what is the schema for this?
      #   required: true
      
      responses:
        
        200:
          description: Successful response with artifact object.
          
          schema:
            $ref: '#/definitions/Artifact'


  '/builds/{buildId}/workspace/upload':
    post:
      summary: Uploads a workspace.
      description: |
        Upload workspace per the request params. and return 200.
        If failed to upload workspace returns 500.
      operationId: uploadWorkspace
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id to upload workspa for.
          required: true
          type: integer
          format: int32

      # - name: log
      #   in: body
      #   description: The log. # what is the schema for this?
      #   required: true
      
      responses:
        
        200:
          description: Successful response with artifact object.
          
          schema:
            $ref: '#/definitions/Artifact'


  '/builds/triggers':

    post:
      tags:
        - Build
      summary: Add (insert) a BuildTrigger event.
      operationId: add_build_trigger
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: build_trigger
          in: body
          description: BuildTrigger event.
          schema:
            $ref: '#/definitions/BuildTrigger'
          required: true

      responses:
        201:
          description: Added BuildTrigger.
          schema:
            $ref: '#/definitions/BuildTrigger'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/ErrorResponse'


  '/builds/triggers/{trigger_id}':

    get:
      tags:
        - Build
      summary: Get the specified build trigger.
      operationId: get_build_trigger
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: trigger_id
          in: path
          description: BuildTrigger id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: BuildTrigger object.
          schema:
            $ref: '#/definitions/BuildTrigger'
        default:
          description: Failed to get BuildTrigger.



  ######################### /deployments/{deploymentId} #########################
  '/deployments/{deploymentId}':
    get:
      summary: Get a deployment with deployment id specified in the request.
      description: |
        Get a deployment with deployment id specified in the request.
        If there is no deployment, returns 404.
      operationId: getDeployment
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: deploymentId
          in: path
          description: The deployment id to find and return deployment.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a deployments.
          
          schema:
            $ref: '#/definitions/Deployment'

    delete:
      summary: Delete the deployment specified in the request.
      description: |
        Delete the deployment specified in the request.
        If there is no deployment, returns 404.
      operationId: deleteDeployment
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: deploymentId
          in: path
          description: The deployment id to find and return deployment.
          required: true
          type: integer
          format: int32
      
      responses:
          
          404:
            description: Deployment with specified id is not found.
          
          204:
            description: Deployment Succefully deleted.


  
  '/notificationtargets/{notificationTargetId}':

    delete:
      summary: Delete the notification target specified in the request.
      description: |
        Delete the notification target specified in the request.
        If notification target with specified id not found, returns 404.
      operationId: deleteNotificationTarget
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: notificationTargetId
          in: path
          description: Internal id for the notification target we want to delete.
          required: true
          type: integer
          format: int32
      
      responses:
          
          404:
            description: When notification target with specified id is not found.
          
          204:
            description: Succefully deleted.


  
  '/notificationtargets/{notificationTargetId}':

    get:
      summary: Get the notification target specified in the request.
      description: |
        Get the notification target specified in the request. if not found, we return 404.
      operationId: getNotificationTarget
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: notificationTargetId
          in: path
          description: The internal notificationtarget id.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a notificationtarget
          

          schema:
            $ref: '#/definitions/NotificationTarget'
        
        404:
          description: Notification taget not found.



  
  '/projects/{projectId}/builds':

    get:
      summary: Get the builds associated with the project.
      description: |
        Get the builds associated with the project specified in the request params.
        If not build are found, returns an empty JSON array.
      operationId: getBuildsForProject
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to list builds for.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a listing of builds.
          schema:
            type: array
            items:
              $ref: '#/definitions/Build'


    post:
      summary: Create a new build per the request params.
      description: |
        Create a new build per the request params and return 201.
        If failed to create return 500.
      operationId: createBuild
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: projectId
          in: path
          description: The project id to create build for.
          required: true
          type: integer
          format: int32

        - name: build
          in: body
          description: The build JSON to post.
          schema:
            $ref: '#/definitions/Build'
          required: true

      
      responses:
        
        201:
          description: Creates a new build.
          
          schema:
            $ref: '#/definitions/Build'


  '/projects/{projectId}/start_build':

    post:
      summary: Start a new build for a project.
      description: |
        Start the build process for the specified project.
      operationId: startBuild
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to start build for.
          required: true
          type: integer
          format: int32

        - name: commitSha # Why is this named both commitSha and commitHash in various places?
          in: body
          description: The commitSha.
          required: true # commitSha should be optional? If not hash provided, CREST should retrieve the most recent one.
          schema:
            type: object
            required:
              - commitHash
            properties:
              commitHash:
                type: string


      
      responses:
        
        201:
          description: Build started.
          schema:
            $ref: '#/definitions/Build'
        
        500:
          description: Failed to start the build.


  '/projects/{projectId}/deployments':
    get:
      summary: Get the set of deployments associated with the project specified in the request.
      description: |
        Get the set of deployments associated with the project specified in the request.
        If there are no deployments, returns an empty list.
      operationId: getDeploymentsForProject
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to list deployments for.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a listing of deployments.
          
          schema:
            type: array
            items:
              $ref: '#/definitions/Deployment'

    post:
      summary: Create a deployment for a project.
      description: |
        Creates a new deployment for the specified project and return 201.
        If failed to create returns 404.
      operationId: createDeployment
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to create post deployment actions for.
          required: true
          type: integer
          format: int32

        - name: deployment
          in: body
          description: The deployment JSON to post.
          schema:
            $ref: '#/definitions/Deployment'
          required: true

      
      responses:
        
        201:
          description: Successful response with details of the newly created post deployment.
          
          schema:
            $ref: '#/definitions/Deployment'


  '/projects/{projectId}/postdeployactions':
    get:
      summary: Get the set of post deployment actions associated with the project specified in the request.
      description: |
        Get the set of post deployment actions associated with the project specified in the request.
        If there are no such post deploy actions, return an empty list.
      operationId: getProjectPostDeployActions
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to list post deployment actions for.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a listing of post deployment actions.
          
          schema:
            type: array
            items:
              $ref: '#/definitions/PostDeployAction'

    post:
      summary: Create a post deploy action
      description: |
        Creates a new post deploy action for the specified project and return 201.
        If failed to create returns 500.
      operationId: createPostDeployAction
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to create post deployment actions for.
          required: true
          type: integer
          format: int32

        - name: postdeploymentaction
          in: body
          description: The project JSON to post.
          schema:
            $ref: '#/definitions/PostDeployAction'
          required: true

      
      responses:
        
        201:
          description: Successful response with details of the newly created post deployment action.
          
          schema:
            $ref: '#/definitions/PostDeployAction'


  
  '/projects/builds/{buildId}':

    delete:
      summary: Deletes the build specified in the request params.
      description: |
        Deletes the build specified in the request params.
        If build with specified id not found, returns 404.
      operationId: deleteBuild
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: buildId
          in: path
          description: The build id for the build we want to delete.
          required: true
          type: integer
          format: int32
      
      responses:
          
          404:
            description: Build with specified id is not found.
          
          204:
            description: Succefully deleted.


  '/postdeployactions/{postDeployActionId}':
    get:
      summary: Get the post deploy action specified in the request.
      description: |
        Get the post deploy action specified in the request.
        If there is no such post deploy action, return 404.
      operationId: getPostDeployAction
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: postDeployActionId
          in: path
          description: The post deployment actions id to get.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a post deployment action.
          
          schema:
            $ref: '#/definitions/PostDeployAction'

    delete:
        summary: Deletes the post deploy action specified in the request.
        description: |
          Deletes the post deploy action specified in the request.
          If there is no such post deploy action, return 404.
        operationId: deletePostDeplyAction
        consumes:
          - application/json
        produces:
          - application/json
        # This is array of Delete operation parameters:
        parameters:
          - name: postDeployActionId
            in: path
            description: The pot deployment action id to delete.
            required: true
            type: integer
            format: int32
        
        responses:
            
            404:
              description: Post deployment action with specified id is not found.
            
            204:
              description: Post deployment action succefully deleted.


  '/projects/{projectId}/stormrunner/connect':
    post:
      summary: Connects to storm runner end point.
      description: |
        Connects to storm runner end point and returns list of tests.
        If failed to autheticate it returns 403 and if no tests found return 404.
      operationId: connectToStormRunner
      consumes:
        - application/json
      produces:
        - application/json
      # This is array of Connect operation parameters:
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          type: integer
          format: int32

        - name: stormRunnerRequest
          in: body
          description: The storm runner request JSON to post.
          schema:
            $ref: '#/definitions/StormRunnerRequest'
          required: true

      
      responses:
        
        200:
          description: |
            Successful response with list of tests.
          
          schema:
            type: array
            items:
              $ref: '#/definitions/StormRunnerTest'
         
        404:
          description: When tests not were found for the user with given tenanat id.
         
        403:
          description: When user is not authenticated in storm runner.


  
  '/projects/{projectId}/notificationtargets':

    get:
      summary: Get the set of notification targets associated with the project specified in the request.
      description: |
        Get the set of notification targets associated with the project specified in
        the request. if there is nothing found, we return empty list.
      operationId: getNotificationTargetsForProject
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The internal project id.
          required: true
          type: integer
          format: int32
      
      responses:
        
        200:
          description: Successful response with a list of notification targets or empty list if there is no notification targets in the database.
          

          schema:
            type: array
            items:
              $ref: '#/definitions/NotificationTarget'

    post:
      summary: Create a new notification target for a project.
      description: |
        Create a new notification target for the specified project and return 201.
        If failed to create returns 500.
      operationId: createNotificationTarget
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
        - name: projectId
          in: path
          description: The project id to create notification target for.
          required: true
          type: integer
          format: int32

        - name: notificationtarget
          in: body
          description: The target JSON to post.
          schema:
            $ref: '#/definitions/NotificationTarget'
          required: true

      
      responses:
        
        201:
          description: Creates a new notification target.
          schema:
            $ref: '#/definitions/NotificationTarget'
       
        500:
          description: Failed to creates a new notification target.




#  '/targets/{targetId}/projects':
#
#    get:
#      summary: Get the projects associated with the environment specified by `targetId`.
#      description: |
#        Get the set of projects associated with the deployment environment
#        specified in the request. If there are no matching projects, return a 200/OK
#        and an empty set.
#      operationId: getProjectsForEnvironment
#      consumes:
#        - application/json
#      produces:
#        - application/json
#
#      parameters:
#        - name: targetId
#          in: path
#          description: The internal target id.
#          required: true
#          type: integer
#          format: int32
#
#      responses:
#
#        200:
#          description: Successful response with a list of projects or empty list if there is no projects targeting the target/environment.
#
#
#          schema:
#            type: array
#            items:
#              $ref: '#/definitions/Project'
#
#        404:
#          description: No environment matching `targetId`.
#
#        default:
#          description: Unexpected error.


  
  '/types/notificationtargets':

    get:
      summary: Get the set of Notification Target types.
      description: |
        Get the set of Notification Target types.
      operationId: getNotificationTargetTypes
      consumes:
        - application/json
      produces:
        - application/json

      
      responses:
        200:
          description: Successful response with a notificationtarget types


  '/types/postdeployactions':
    get:
      summary: Get the set of Post Deploy Action types.
      description: |
        Get the set of Post Deploy Action types.
      operationId: getPostDeployActionTypes
      consumes:
        - application/json
      produces:
        - application/json
        
      responses:
        
        200:
          description: Successful response with Post Deploy Action types.


  ######################### /users #########################
  '/users':

    get:
      tags:
        - User
      summary: List all users.
      operationId: get_users
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: Array of user objects. May be empty.
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unknown error.



    post:
      tags:
        - User
      summary: Create a user.
      operationId: create_user
      consumes:
        - application/json
      produces:
        - application/json
      
      parameters:
       - name: user
         in: body
         description: User object.
         schema:
           $ref: '#/definitions/User'
         required: true
      responses:
        201:
          description: Newly created user.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Failed to create the user.



  ######################### /users/{user_id} #########################
  '/users/{user_id}':

    get:
      tags:
        - User
      summary: Get the specified user.
      operationId: get_user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: User object.
          schema:
            $ref: '#/definitions/User'
        404:
          description: User not found.


    put:
      tags:
        - User
      summary: Update the specified user.
      operationId: update_user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User id.
          required: true
          type: integer
          format: int32

        - name: user
          in: body
          description: User object (with updated values).
          schema:
           $ref: '#/definitions/User'
          required: true
      responses:
        200:
          description: Updated user object.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Failed to update the user.


    delete:
      tags:
        - User
      summary: Delete the specified user.
      operationId: delete_user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User id.
          required: true
          type: integer
          format: int32
      responses:
        204:
          description: User deleted.
        default:
          description: Failed to delete user.



  ######################### /environments #########################
  '/environments':

    post:
      tags:
        - Environment
      summary: Add an environment.
      description: |
        Add (register) a deployment environment (target), such as a CloudFoundry instance.
      operationId: add_environment
      consumes:
        - application/json
      produces:
         - application/json
      parameters:
        - name: environment
          in: body
          description: Environment object.
          schema:
            $ref: '#/definitions/Environment'
          required: true
      responses:
        201:
          description: Added environment.
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: Failed to add the environment.


    get:
      tags:
        - Environment
      summary: List the registered environments, optionally filtering.
      description: |
        List the registered environments, optionally filtering by owner user_id.
      operationId: get_environments
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_id
          in: query
          description: User id.
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: |
            Array of `Environment` objects, which may be empty.
          schema:
            type: array
            items:
              $ref: '#/definitions/Environment'
        default:
          description: Unknown error.



  ######################### /environments/{environment_id} #########################
  '/environments/{environment_id}':

    get:
      tags:
        - Environment
      summary: Get the specified environment.
      operationId: get_environment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: environment_id
          in: path
          description: Environment id.
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: Environment object.
          schema:
            $ref: '#/definitions/Environment'
        404:
          description: Environment not found.

    put:
      tags:
        - Environment
      summary: Update the specified environment.
      operationId: update_environment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: environment_id
          in: path
          description: Environment id.
          required: true
          type: integer
          format: int32
        - name: environment
          required: true
          in: body
          description: Environment object.
          schema:
            $ref: '#/definitions/Environment'
      responses:
        200:
          description: Updated environment.
          schema:
            $ref: '#/definitions/Environment'

        default:
          description: Update failed.
          schema:
            $ref: '#/definitions/ErrorResponse'


    delete:
      tags:
        - Environment
      summary: Remove (unregister) the specified environment.
      operationId: remove_environment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: environment_id
          in: path
          description: Environment id.
          required: true
          type: integer
          format: int32
      responses:
        204:
          description: Environment removed.
        default:
          description: Failed to remove environment.







##########################################################################
#                                                                        #
#                         DEFINITIONS (MODELS)                           #
#                                                                        #
##########################################################################
definitions:


# Ultimately we'd like to move the definitions into a separate file, but the
# swagger tooling is still buggy around external references.

#  $ref: ./definitions.yml  # Commented out for now






  ############## Build ##############
  Build:
    type: object
    description: |
      Models an individual build.
    required:
      - buildId
      - projectId
      - buildTrigger
      - result
      - resultMessage
      - created
    properties:
      buildId:
        type: integer
        format: int32
        description: The (internal) id of the build instance.
      projectId:
        type: integer
        format: int32
        description: The (internal) id of the project the build is associated with.
      buildTrigger:
        $ref: '#/definitions/BuildTrigger' # REVISIT: convert to just an id?
      result:
        type: string
        description: Result of the build process.
        enum: ["PENDING", "SUCCESS", "FAILURE"]
      resultMessage:
        type: string
        description: Message associated with the build result.
      created:
        type: string
        description: Build creation timestamp.
        format: date-time
      deployment:
        $ref: '#/definitions/Deployment'



  ############## BuildTrigger ##############
  BuildTrigger:
    type: object
    description: |
      Models a Generic build trigger event.
    discriminator: triggerType
    required:
      - triggerId
      - triggerType
      - author
      - message
      - created
    properties:
      triggerId:
        type: integer
        format: int32
        description: The (internal) id of the instance.
      triggerType:
        type: string
        description: The type of build trigger. (e.g. manual, or PR, etc.)
        enum: ["PullRequestBuildTrigger", "ManaulBuildTrigger"]
      author:
        type: string
        description: The author of a commmit selected.
      avatarUrl:
        type: string
        description: The compare url of a commmit selected.
      message:
        type: string
        description: The message associated with the build trigger event.
      created:
        type: string
        format: date-time
        description: The date and time of when the build is created.



  ############## PullRequestBuildTrigger ##############
  PullRequestBuildTrigger:
    description: |
      Models a trigger of a build via a pull request webhook callback.
    allOf:
    - $ref: '#/definitions/BuildTrigger'
    - type: object
      required:
        - pullRequestId
        - webhookId
        - commitSha
      properties:
        pullRequestId:
          type: string
          description: The (VCS) id of the pull request.
        webhookId:
          type: string
          description: |
            The (VCS) id of the webhook that produced this pull request. REVISIT: do we need this?
        commitSha:
          type: string
          description: The commitSha of a commmit selected.
        commitUrl:
          type: string
          description: The commit url of a commmit selected.
        compareUrl:
          type: string
          description: The compare url of a commmit selected.



  ############## ManualBuildTrigger ##############
  ManualBuildTrigger:
    description: |
      Models a manual trigger of a build by a user for a specific project.
    allOf:
    - $ref: '#/definitions/BuildTrigger'
    - type: object
      required:
        - userId
        - projectId
        - commitRef
      properties:
        userId:
          type: integer
          format: int32
          description: The (internal) id of the user who triggered the build.
        projectId:
          type: integer
          format: int32
          description: The (internal) id of the project the build was triggered for.
        commitRef:
          type: string
          description: The commit reference to build from (e.g. a Git commitSha, or a SVN revision).




  ############## artifact ##############
  Artifact:
    type: object
    description: Models an artifact.
    required:
      - artifactId
      - message
      - artifactType
      - created
    properties:
      artifactId:
        type: integer
        format: int32
        description: The artifact id.
      message:
        type: string
        description: The artifiact message.
      created:
        type: string
        description: Artifact creation timestamp.
        format: date-time
      artifactType:
        type: string
        description: The type of artifact, e.g. `BUILD_LOG`.
        enum: ["BUILD_LOG", "WORKSPACE", "TEST_LOG", "DEPLOY_LOG"]
      links:
        type: array
        description: An array of links to artifacts. ## This seems a bit dodgy
        items:
          $ref: '#/definitions/ArtifactLinks'




  ############## ArtifactLinks ##############
  ### REVISIT (neilotoole): NOt entirely sure what this does ###
  ArtifactLinks:
    type: object
    description: Artifact links.
    required:
      - selfUrl
      - editUrl
    properties:
      selfUrl:
        type: string
        description: The artifact self link.
      editUrl:
        type: string
        description: The artifact edit link.




  ############## NotificationTarget ##############
  NotificationTarget:
    type: object
    description: Models a notification target (e.g. a HipChat room or Slack channel) for a specific project.
    required:
      - targetId
      - projectId
      - targetType
      - apiUrl
      - targetCredentialId
    properties:
      targetId:
        type: integer
        format: int32
        description: The (internal) id of this instance.
      projectId:
        type: integer
        format: int32
        description: The associated project id.
      targetType:
        type: string
        description: |
          The notification target type, e.g. `SLACK`, `HIPCHAT`, etc.
        enum: ['SLACK', 'HIPCHAT', 'FLOWDOCK', 'HTTP_POST', 'GITHUB_PULL_REQUEST']
      apiUrl:
        type: string
        description: The target endpoint URL.
      targetCredentialId:
        type: integer
        format: int32
        description: The (internal) id of the credential used to access this target.




  ############## Project ##############
  Project:
    type: object
    description: |
      Models an individual project.
    required:
      - projectId
      - projectName
      - repoId
      - repoCredentialId
      - created
    properties:
      projectId:
        type: integer
        format: int32
        description: The (internal) id of this instance.
      projectName:
        type: string
        description: The user-provided label for the project.
      repoId:
        type: integer
        format: int32
        description: The (internal) id of the repo associated with the project
      repoCredentialId:
        type: integer
        format: int32
        description: The (internal) id of the credential object that the project uses to access the repo.
      created:
        type: string
        format: date-time
        description: Timestamp of instance creation.




  ############## Repo ##############
  Repo:
    type: object
    description: Models a reference to a VCS repository instance, such as a GitHub repo, and references a specific branch.
    required:
      - repoId
      - vcsId
      - repoName
    properties:
      repoId:
        type: integer
        format: int32
        description: The (internal) id of this repo.
      vcsId:
        type: integer
        format: int32
        description: The (internal) id of the VCS instance that this repo belongs to.
      repoName:
        type: string
        description: |
          The name of the repo, e.g. `hpcloud/codeengine`.
      repoOwner:
        type: string
        description: |
          The owner of the repo (as determined by the repo itself), e.g. `neilotoole`. REVISIT: what do we need this for?


  ############## GitHubRepo ##############
  GitHubRepo:
    description: Models a reference to a GitHub repo..
    allOf:
    - $ref: '#/definitions/Repo'
    - type: object
      required:
        - gitHubRepoId
        - cloneUrl
        - sshUrl
        - httpUrl
        - webHookId
        - webHookUrl
        - webHookCredentialId
      properties:
        gitHubRepoId:
          type: string
          description: For GitHub repos, the unique GitHub identifier.
        cloneUrl:
          type: string
          description: The HTTPS URL used to clone the repo.
        sshUrl:
          type: string
          description: The SSH URL used to clone the repo.
        httpUrl:
          type: string
          description: The repo home page.
        webHookId:
          type: string
          description: On GitHub, this is the unique id of the webhook for this repo that calls back to HelionCE.
        webHookUrl:
          type: string
          description: On GitHub, this is the unique id of the webhook for this repo that calls back to HelionCE.
        webHookCredentialId:
          type: integer
          format: int32
          description: The webhook token.
        latestCommitSha:
          type: string
          description: |
            The most recent commit SHA. REVISIT: should we be storing this?

  ############## Environment ##############
  Environment:
    type: object
    discriminator: environmentType
    description: Models a deployment target/environment (e.g. a CloudFoundry instance) that a project can be deployed to.
    required:
      - environmentId
      - environmentType
      - apiUrl
      - ownerUserId
      - credentialId
      - label
    properties:
      environmentId:
        type: integer
        format: int32
        description: The internal id of this environment instance.
      environmentType:
        type: string
        description: The type of target environment.
        enum: ['CloudFoundryEnvironment', 'AWSEnvironment']
      apiUrl:
        type: string
        description: The URL endpoint that the target is accessible at.
      ownerUserId:
        type: integer
        format: int32
        description: The user id of the owner/creator of this environment.
      credentialId:
        type: integer
        format: int32
        description: The user id of the owner/creator of this environment.
      label:
        type: string
        description: The user-friendly label for this instance, e.g. "Neil's first CloudFoundry environment"
      description:
        type: string
        description: An optional description for the environment.


  ############## CloudFoundryEnvironment ##############
  CloudFoundryEnvironment:
    description: Models a CloudFoundry deployment target/environment instance.
    allOf:
    - $ref: '#/definitions/Environment'
    - type: object
      required:
        - organization
        - space
      properties:
        organization:
          type: string
          description: The organization under which a project will be deployed to this target.
        space:
          type: string
          description: The space within an organization that a project will be deployed under on this target.

  ############## AWSEnvironment ##############
  AWSEnvironment:
    description: Models an AWS deployment target/environment instance.
    allOf:
    - $ref: '#/definitions/Environment'
    - type: object
      required:
        - awsEnvironmentName
      properties:
        awsEnvironmentName:
          type: string
          description: The AWS environment name.


  ############## Deployment ##############
  Deployment:
    type: object
    description: Models a deployment.
    required:
      - deploymentId
      - projectId
      - buildId
      - created
    properties:
      deploymentId:
        type: integer
        format: int32
        description: The internal deployment id.
      projectId:
        type: integer
        format: int32
        description: The project id to be deployed.
      buildId:
        type: integer
        format: int32
        description: The build id to be deployed.
      environmentId:
        type: integer
        format: int32
        description: The (internal) id of the environment hosting the deployment.
      applicationId:
        type: string
        description: The application identifier (on the target environment).
      browseUrl:
        type: string
        description: The url where the build is deployed.
      created:
        type: string
        format: date-time
        description: Deployment timestamp.



  ############## Credential ##############
  Credential:
    type: object
    description: Models a generic access credential.
    required:
      - credentialId
      - credentialType
      - credentialValue
      - created
    properties:
      credentialId:
        type: integer
        format: int32
        description: The unique ID of this credential.
      credentialType:
        type: string
        description: The type of credential.
        enum: ['USERNAME_PASSWORD', 'OAUTH2_TOKEN', 'AWS_ACCESS_KEY', 'PKI']
      credentialKey:
        type: string
        description: The credential key, e.g. the username, or AWS Access Key ID, etc. May be null.
      credentialValue:
        type: string
        description: The credential value, e.g. the password, or AWS Secret Key.
      label:
        type: string
        description: An optional label for the credential, e.g. "Alice's GitHub OAuth token".
      created:
        type: string
        description: The creation timestamp.
        format: date-time



  ############## User ##############
  User:
    type: object
    description: Models a User instance.
    required:
      - userId
      - email
      - fullName
      - created
    properties:
      userId:
        type: integer
        format: int32
        description: The internal unique id of this User instance..
      email:
        type: string
        description: The user's email.
      fullName:
        type: string
        description: |
          The user's full name, e.g. "Alice McAlister"
      created:
        type: string
        format: date-time
        description: The user creation timestamp.


  ############## ProjectMember ##############
  ProjectMember:
    description: |
      A member (user) of a project. Inherits from User.
    allOf:
    - $ref: '#/definitions/User'
    - type: object
      required:
        - projectId
        - isOwner
      properties:
        projectId:
          type: integer
          format: int32
          description: The id of the project that the user is a member of.
        isOwner:
          type: boolean
          description: |
            `TRUE` if the member is an owner of the project, `FALSE` otherwise.


  ############## VcsAccount ##############
  Vcs:
    type: object
    description: |
      Models a reference to a Version Control System instance, e.g. GitHub.com, or a GitHub Enterprise instance, or a SVN instance.
    required:
      - vcsId
      - vcsType
      - apiUrl
      - label
    properties:
      vcsId:
        type: integer
        format: int32
        description: The internal unique id of this VCS instance.
      vcsType:
        type: string
        description: The VCS type.
        enum: ['GITHUB', 'GITHUB_ENTERPRISE', 'BITBUCKET', 'SVN']
      apiUrl:
        type: string
        description: The URL for API operations on this VCS instance.
      browseUrl:
        type: string
        description: The browser URL for this VCS instance.
      label:
        type: string
        description: The user-friendly label for this VCS instance. Must be unique.


  ############## VcsAccount ##############
  VcsAccount:
    type: object
    description: |
      Models a user account on a particular VCS instance.
    required:
      - vcs_account_id
      - vcs_id
      - user_id
    properties:
      vcs_account_id:
        type: integer
        format: int32
        description: The (HCE) id of this VCS account instnace.
      vcs_id:
        type: integer
        format: int32
        description: The (HCE) id of the VCS instance this account belongs to.
      user_id:
        type: integer
        format: int32
        description: The (HCE) id of the (HCE) user this account belongs to.
      vcs_user_id:
        type: string
        description: The VCS instance's identifer for this account (e.g. the GitHub user id).
      vcs_account_credential_id:
        type: integer
        format: int32
        description: The (HCE) id of this account's credential for accessing the VCS instance.

  ############## ContainerRegistry ##############
  ContainerRegistry:
    type: object
    description: |
      Models a reference to container registry, e.g. DockerHub.
    required:
      - registryId
      - containerType
      - apiUrl
      - credentialId
      - label
    properties:
      registryId:
        type: integer
        format: int32
        description: The internal unique id of this instance.
      containerType:
        type: string
        description: The container technology type.
        enum: ['DOCKER', 'ROCKET', 'DRAWBRIDGE', 'LXD']
      apiUrl:
        type: string
        description: The URL for API operations on this instance.
      credentialId:
        type: integer
        format: int32
        description: |
          The id of the credentials used to access this registry. REVISIT: do we need to expose this?
      label:
        type: string
        description: The user-friendly label for this VCS instance. Must be unique.

  ContainerImage:
    type: object
    description: |
      Models a reference to a container image, e.g. a Docker image.
    required:
      - imageId
      - containerType
      - registryId
      - repo
      - repoTag
      - imageLabel
    properties:
      imageId:
        type: integer
        format: int32
        description: The (internal) unique id of this instance.
      containerType:
        type: string
        description: The container technology type.
        enum: ['DOCKER', 'ROCKET', 'DRAWBRIDGE', 'LXD']
      registryId:
        type: integer
        format: int32
        description: The internal unique id of the registry instance where this container is hosted.
      repo:
        type: string
        description: The name of the image's repo in the container registry.
      repoTag:
        type: string
        description: The image's tag in the container registry.
      imageLabel:
        type: string
        description: The user-friendly label for this instance. Must be unique.

  BuildContainer:
    description: |
      Models a reference to a build container. That is, a container image used
      for building a project of a specific type (e.g. Java, PHP, etc).
    type: object
    required:
      - buildContainerId
      - imageId
      - buildContainerLabel
    properties:
      buildContainerId:
        type: integer
        format: int32
        description: The (internal) id of this instance.
      imageId:
        type: integer
        format: int32
        description: The (internal) id of the backing ContainerImage.
      buildContainerLabel:
        type: string
        description: The user-friendly label for this BuildContainer instance. Must be unique.



  ############## PostDeployAction ##############
  PostDeployAction:
    type: object
    description: Models a postDeployAction, (eg. stormrunner load test).
    required:
      - actionId
      - actionType
      - actionName
      - metadata
      - created
    properties:
      actionId:
        type: integer
        format: int32
        description: The internal id of this post deployment action instance.
      actionType:
        type: string
        description: The type of the post deployment action.
        enum: ["STORMRUNNER"]
      actionName:
        type: string
        description: The name of the post deployment action

      metadata:
        $ref: '#/definitions/StormRunnerMetadata'
      created:
        type: string
        description: Date and time when the post deployment action is created.



  ############## StormRunnerMetadata ##############
  StormRunnerMetadata:
    type: object
    description: Models a postdeploymentaction, (eg. stormrunner load test).
    required:
      - tenantId
      - actionType
      - testId
      - stormRunnerCredentialId
    properties:
      username:
        type: string
        description: The user name to login in inorder to create post deployment action.(eg. user name in stomrunner credentials)
      password:
        type: string
        description: The password.(eg. password in stomrunner credentials)
      tenantId:
        type: string
        description: The tenantid id in storm runner.
      actionType:
        type: string
        description: The type of the post deployment action.
        enum: ["STORMRUNNER"]
      testId:
        type: integer
        format: int32
        description: The test id we want to run as post deployment action in storm runner.
      stormRunnerCredentialId:
        type: integer
        format: int32
        description: The credentials used to access StormRunner.


  ############## StormRunnerRequest ##############
  StormRunnerRequest:
    type: object
    description: Models a postdeploymentaction, (eg. stormrunner load test).
    required:
      - metadata
      - actionType
    properties:
      metadata:
        $ref: '#/definitions/StormRunnerMetadata'
      actionType:
        type: string
        description: The type of the post deployment action.
        enum: ["STORMRUNNER"]


  ############## StormRunnerTest ##############
  StormRunnerTest:
    type: object
    description: Models a stormrunner test.
    required:
      - testId
      - testName
    properties:
      testId:
        type: integer
        format: int32
        description: The id of StormRunner load test.
      testName:
        type: string
        description: The name of strom runner load test.



  ############## ErrorResponse ##############
  ErrorResponse:
    type: object
    description: |
      A standard error object returned by all API calls.
    required:
      - apiVersion
      - status
    properties:
      apiVersion:
        type: string
        description: The API version, e.g. `v1`.
      status:
        type: string
        description: The HTTP status code.
      message:
        type: string
        description: The message associated with the error.
      log:
        type: string
        description: Any additional error information, such as log entries, stack trace, etc. Likely to be turned off in production environments.



  ############## Branch ##############
  Branch:
    type: object
    description: |
      A branch of a repo.
    required:
      - name
    properties:
      name:
        type: string
        description: The branch name, e.g. `master`.
      allCommitsLoaded:
        type: boolean
        description: |
          This is `true` if all commits for this branch have been loaded. TBD: This looks like some UI-related funkiness.
      commitPagesLoaded:
        type: integer
        format: int32
        description: The number of commit pages loaded (for the purposes of paging through the set of commits).
      commit:
        $ref: '#/definitions/Commit'
      commits:
        type: array
        description: An array of `commit` objects, which can be empty.
        items:
          $ref: '#/definitions/Commit'


  ############## Commit ##############
  Commit:
    type: object
    description: |
      A commit to a repo.
    required:
      - sha
      - url
    properties:
      sha:
        type: string
        description: |
          The SHA of the commit, e.g. `5d26f03424872b5235ea1a1e1a6262e61e4f430c`.
      url:
        type: string
        description: |
          The URL of the commit, e.g. `https://api.github.com/repos/neilotoole/helion-hello-node/commits/5d26f03424872b5235ea1a1e1a6262e61e4f430c`.


